@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}
#logo{
    width: 30vw;
}
h1{
    color: aliceblue;
    font-family: "Caprasimo", serif;
}
#name{
    color: rgb(141, 11, 117);
    font-size: 45px;
}
#va{
    color: rgb(11, 194, 194);
    font: size 45px;;
}
#voice{
    width: 130px;
    display: none;
}
#btn{
    width: 30%;
    background: linear-gradient(to right,rgb(228, 87, 87),rgb(71, 71, 225));
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    font-size: 20px;
    border-radius: 20px;
    color: white;
    box-shadow: 2px 2px 10px rgb(228, 87, 87),2px 2px 10px rgb(71, 71, 225);
    border: none;
    transition: all 0.5s;
    cursor: pointer;
}
#btn:hover{
     box-shadow: 2px 2px 20px rgb(228, 87, 87),2px 2px 20px rgb(71, 71, 225);
     letter-spacing: 2px;
}